{% extends "footer.html" %}
{% block scripts %}
<style>
  .year {
    font-size: 10px;
    display: inline-block;
    width: 40px;
    height: 14px;
  }
  .steps {
    display: inline-block;
    height: 14px;
    width: 60%;
  }
  .step {
    height: 100%;
    display: inline-block;
  }
  .step1 {
    background-color: #F2F0F7;
  }
  .step2 {
    background-color: #CBC9E2;
  }
  .step3 {
    background-color: #9E9AC8;
  }
  .step4 {
    background-color: #6A51A3;
  }
</style>
<script type="text/javascript">
var grade = "{{ current_grade }}";
if(grade === "K") { grade = 0 };

app.getChartData({{ school.pk }}, grade);
</script>
{% endblock %}
