<div class="scores-container" id="reading-scores">
  <strong>PSSA Reading Scores for Grade {{ current_grade }}</strong>
</div>
<div class="scores-container" id="math-scores">
  <strong>PSSA Math Scores for Grade {{ current_grade }}</strong>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<style>
  .year {
    font-size: 10px;
    display: inline-block;
    width: 40px;
    height: 14px;
  }
  .steps {
    display: inline-block;
    height: 14px;
    width: 60%;
  }
  .step {
    height: 100%;
    display: inline-block;
  }
  .step1 {
    background-color: #F2F0F7;
  }
  .step2 {
    background-color: #CBC9E2;
  }
  .step3 {
    background-color: #9E9AC8;
  }
  .step4 {
    background-color: #6A51A3;
  }
</style>
<script type="text/javascript">
  var app = {};
  var K;

  app.grade = {{ current_grade }};
  if(app.grade === K) { app.grade = 0 };
  if(app.grade === Pre-K) { app.grade = -1 };

  $.ajax({
    url: '/api/v1/school_curricula/{{ school.pk }}/?format=json&grade=' + app.grade,
    success: function(resp) {
      scores = JSON.parse(resp.cirriculum.pssa_test_scores);

      var sortedScores = scores.sort(function(a, b){
        return a.year_start - b.year_start;
      });

      app.createChart(sortedScores, 'reading');
      app.createChart(sortedScores, 'math');
    }
  })

  app.chartMapping = {
    'reading': [
      'read_below_basic_percent',
      'read_basic_percent',
      'read_proficient_percent',
      'read_advanced_percent'
    ],
    'math': [
      'math_below_basic_percent',
      'math_basic_percent',
      'math_proficient_percent',
      'math_advanced_percent'
    ],
  }

  app.createChart = function(scores, subject) {
    var mapping = app.chartMapping[subject];

    for(var i=0; i<scores.length; i++) {
      if(scores[i].year_start === 2012) { continue; } // We don't have 2012-13 scores
      var html = 
        "<div class='scores'>" +
          "<span class='year'>" + scores[i].year_start  + "-" + String(scores[i].year_end).slice(2, 4) + "</span>" +
          "<div class='steps'>" +
            "<span class='tooltip' title='Below basic: " + scores[i][mapping[0]] + "%'>" + 
              "<div class='step step1' style='width:" + scores[i][mapping[0]] + "%;'></div>" +
            "</span>" + 
            "<span class='tooltip' title='Basic: " + scores[i][mapping[1]] + "%'>" + 
              "<div class='step step2' style='width:" + scores[i][mapping[1]] + "%;'></div>" + 
            "</span>" + 
            "<span class='tooltip' title='Proficient: " + scores[i][mapping[2]] + "%'>" +
              "<div class='step step3' style='width:" + scores[i][mapping[2]] + "%;'></div>" +
            "</span>" +
            "<span class='tooltip' title='Advanced: " + scores[i][mapping[3]] + "%'>" +
              "<div class='step step4' style='width:" + (scores[i][mapping[3]] - 0.1) + "%;'></div>" +
            "</span>" +
          "</div>" +
        "</div>";

      $('#' + subject + '-scores.scores-container').append(html);
    }

    $('.tooltip').tooltipster({ maxWidth: 250 });
  }
</script>