{% include "header.html" %}
		<div class="container content-inner">
			<div class="section row">
				<div class="twelve columns mobile-full" id="breadcrumbs">
					<div><a href="/">Home</a> > <a href="/curricula/">Curricula</a></div>
				</div>
			</div>
		</div>	
		<div class="container content-inner">
			<div class="section row">
				<div class="twelve columns mobile-full">
			     	<h2>{{ curriculum_list.curriculum }}, Grade {{ curriculum_list.grade_level_start }} {% if curriculum_list.grade_level_start == curriculum_list.grade_level_end %} {% else %} to {{ curriculum_list.grade_level_end }} {% endif %}</h2>
						<div class="section row">
							<div class="three columns mobile-full">			     		
			     				<h5>Subject</h5>{{ curriculum_list.curriculum.subject_area }}
			     			</div>
							<div class="three columns mobile-full">			     		
			     				<h5>Publisher</h5>{{ curriculum_list.curriculum.publisher }}
			     			</div>			     	
							<div class="three columns mobile-full">			     		
			     				<h5>Grade</h5>{{ curriculum_list.grade_level_start }} {% if curriculum_list.grade_level_start == curriculum_list.grade_level_end %} {% else %} to {{ curriculum_list.grade_level_end }} {% endif %}
			     			</div>		
							<div class="three columns mobile-full">			     		
			     				<h5>Approved</h5>
			     				{% for approved in curriculum_list.approved_for_type.all %}
									{{ approved }}
								{% endfor %}
			     			</div>					     			
		     			</div>	     	
		     		<hr>
			     	<h4>Learning Materials</h4>
			     	<table>
			     		<tr>
			     			<th>
			     				Title
			     			</th>
			     			<th>
			     				Material Type
			     			</th>	
			     			<th>
			     				Teacher's Edition
			     			</th>				     						     			
			     			<th>
			     				ISBN
			     			</th>		     						     			
			     		</tr>
						{% for book in curriculum_list.materials.all %}
				     		<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
								<td>
									<a href="/learningmaterial/{{ book.isbn }}/">{{ book.title }}</a>
								</td>
								<td>
									{{ book.material_type }}
								</td>	
								<td>
									{{ book.isTeacherEdition }}
								</td>																	
								<td>
									{{ book.isbn }}
								</td>	
							</tr>						
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
{% include "footer.html" %}