    <script src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script> 
    <script>
      $(document).ready(function() 
        { 
          $("#matched-grade-curricula").tablesorter({ 
            widgets: ['zebra'],
            sortList: [[2,0],[1,0],[4,0]]        
          });
          $(".tablesorter").tablesorter({ 
            widgets: ['zebra'],
          })          
        } 
      );    
    </script>
    {% include "_search.html" %}
    </body>
</html>
