<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>School Data</title>
      <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/base.css">    
        <script src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>        
    <style type="text/css">
    </style>  
    <script>
      $(document).ready(function() 
        { 
          $(".tablesorter").tablesorter({ 
            widgets: ['zebra'] 
          }); 
        } 
      );    
    </script>
    </head>
    <body>    
      <div id="header"></div>