<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>School Data</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.2.custom.min.css" />        
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/base.css">
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/site.css">
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
    </head>
    <body>    
      <div id="header"></div>