{% extends "layout.html" %} 
    {% block index_social %}
        <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style right mtl">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_pinterest_pinit"></a>
            <a class="addthis_counter addthis_pill_style"></a>
          </div>
        <!-- AddThis Button END -->
    {% endblock %}

    {% block subheader %}
    
    {% endblock %}
    
    {% block content %}

    <div id="hero">
      <div id="title-box">
        <h1>Stacked Up</h1>
        <h2>Do Philly students have the books they need?</h2>
        <h5>By Meredith Broussard, Pam Selle, and Jeff Frankl</h5>
      </div>
    </div>

    <div class="container content-inner">
      <div class="section row index">
        <div class="col five tablet-four mobile-full">
          <p class="intro">Most people would be surprised at the idea that a public school wouldn't have enough books. In Philadelphia, however, students and parents complain every few years that some schools don't have the books they need to educate children.</p>
          <p>As Philly schools prepare to open in Fall of 2013 with limited staff and severely restricted budgets, this chronic issue is bound to surface again. This time, we have the ability to be proactive and answer the question: do public school children have all of the materials they require to succeed academically?</p>
          <p><a href="/schools">Stacked Up</a> is a tool that parents and concerned citizens can use to <a href="/schools">peek inside the book closets at neighborhood schools</a> and make sure that each school has all of its required instructional materials before school resumes in the Fall.</p>
 <a href="#" target="_blank">Read more:&rarr;</a></p>
          <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_pinterest_pinit"></a>
            <a class="addthis_counter addthis_pill_style"></a>
          </div>
        </div>
        <div class="col three tablet-four mobile-full section-articles">
          <h3>News on books in Philadelphia</h3>
          <h4><a href="http://axs.ph/186tYsI">The District has spent $111 on textbooks. Where are they? Nobody knows.</a></h4>
          by Meredith Broussard, June 3
          <hr>
          <h4><a href="#">How to make a difference at your neighborhood school</a></h4>
          by Meredith Broussard, July 10
          <hr>
          <h4><a href="#">About our methodology</a></h4>
          by Pam Selle, July 10
          <hr>
          <h4><a href="#">Commentary on the schoolbook situation</a></h4>
          by Tom Ferrick, July 10
          <hr>
          <hr>
          <h4><a href="#">Commentary on the schoolbook situation</a></h4>
          by Solomon Jones, July 11
          <hr>
        </div>
        <div class="col four tablet-four mobile-full">
          <h3>Check the number of books in your neighborhood school</h3>
          <div class="ui-widget">
            <label for="search">Type the name of a school to see its inventory: </label>
            <input id="search"/>
          </div>
<!--           <p>Enter the name of a school.</p>
 -->          <hr>
          <a href="/schools">View all schools &rarr;</a>
        </div>
      </div>
    </div>    
  {% endblock %}      