{% extends "layout.html" %} 
    {% block index_social %}
        <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style right mtl">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_pinterest_pinit"></a>
            <a class="addthis_counter addthis_pill_style"></a>
          </div>
        <!-- AddThis Button END -->
    {% endblock %}

    {% block subheader %}
    
    {% endblock %}
    
    {% block content %}

    <div id="hero">
      <div id="title-box">
        <h1>Stacked Up</h1>
        <h2>Do Philly students have the books they need?</h2>
      </div>
    </div>

    <div class="container content-inner">
<!--       <div class="row section">
        <img src="/static/images/school_library_seniwati.jpg">
        <p class="caption">Photo by <a href="http://www.flickr.com/photos/seniwati/">seniwati</a> under Creative Commons license</p>
        <div class="twelve explainer-wrap">
          <p class="explainer mobile-full"><strong>Stacked Up</strong> is a project exploring and understanding how the Philadelphia School District keeps, tracks, and doles out books and learning materials to Philly students, and how those materials stack up against students in the school and state-approved curricula for reading and math.</p>
        </div>
      </div> -->
      <div class="section row index">
        <div class="col five tablet-four mobile-full">
          <p class="intro">This project explores and understands how the Philadelphia School District keeps, tracks, and doles out books and learning materials to Philly students, and how those materials stack up against students in the school and state-approved curricula for reading and math.</p>
          <p>AxisPhilly editor Carla Robinson details some of the ways you can use this website, and more about the project and articles. There is also some more information about this somewhere else. <a href="#">Read more &rarr;</a></p>
        </div>
        <div class="col three tablet-four mobile-full section-articles">
          <h3>Articles</h3>
          <h4><a href="#">AVI study commissioned by Alan Butkovitz</a></h4>
          by Meredith Broussard, May 9
          <hr>
          <h4><a href="#">How a few Philly high school students organized themselves into a few hundred in four days</a></h4>
          by Meredith Broussard, May 9
          <hr>
          <h4><a href="#">Inclusivity is a big hurdle for bike-share programs</a></h4>
          by Meredith Broussard, May 9
        </div>
        <div class="col four tablet-four mobile-full">
          <h3>Find a school</h3>
          <div class="ui-widget">
            <label for="search">Search for a school: </label>
            <input id="search"/>
          </div>
          <p>Start typing the name of a school and choose from the filtered options 
            to find what you're looking for.</p>
          <hr>
          <a href="/schools">View all schools &rarr;</a>
        </div>
      </div>
    </div>    
  {% endblock %}      