{% include "header.html" %} 
    <div class="container content-inner">
      <div class="section row">
        <div class="ui-widget">
          <label for="search">Search for a school: </label>
          <input id="search"/>
        </div>
        <div class="twelve columns mobile-full">
            <h2>Schools in Philadelphia</h2>
            {% regroup schools by school_level as school_list %}
            {% for school in school_list %}
              {% if school.grouper.title %}
                <h3>{{ school.grouper.title }}</h3>
                <ul>
                    {% for item in school.list %}
                      <li><a href="/school/{{ item.school_code }}">{{ item.name.title }}</a></li>
                    {% endfor %}
                </ul>
                <hr>
              {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>          
{% include "footer.html" %}