{% extends "layout.html" %}
    {% block title %}Stacked Up | {{ school.name.title }} Inventory | AxisPhilly{% endblock %}
    {% block ogtitle %}Stacked Up | {{ school.name.title }} Inventory | AxisPhilly{% endblock %}
    {% block content %}
    <div class="container content-inner" id="inventory">
      <div class="section row">
        <div class="three col mobile-full" id="breadcrumbs">
            <a href="/school/{{ school.school_code }}">&#8592; Back </a>
        </div>
      </div>
      <div class="section row">       
                    <h3>{{ school.name.title }} | All Recorded Inventory</h3>
                    <p>Inventory data below comes from the Textbook Storage System, available to all School District of Philadelphia principals. <a href="http://webgui.phila.k12.pa.us/offices/e/etg/textbook-storage-system" target="_blank">Learn more about it:</a></p>
                    {% if inventory %}                 
                        <table class="tablesorter">
                            <thead>
                                <tr>
                                    <th class="two">
                                        ISBN
                                    </th>
                                    <th class="three">
                                        Title
                                    </th>                           
                                    <th class="two">
                                        Publisher
                                    </th>
                                    <th class="numeric">
                                        On Site
                                    </th>                               
                                    <th class="numeric">
                                        Student Home
                                    </th>   
                                    <th class="numeric">
                                        Student Class
                                    </th>       
                                    <th class="numeric">
                                        Stolen
                                    </th>
                                    <th class="numeric">
                                        Unusable
                                    </th>
                                </tr> 
                            </thead>
                            <tbody>  
                                {% for book in inventory %}
                                <tr>
                                    <td>
                                        <a href="http://www.abebooks.com/servlet/SearchResults?isbn={{ book.material.isbn }}&sts=t&x=69&y=10">{{ book.material.isbn }}</a>
                                    </td>
                                    <td>
                                        {{ book.material.title }}
                                    </td>   
                                    <td>
                                        {{ book.material.publisher.name }}
                                    </td>                       
                                    <td class="numeric">
                                        {{ book.qty_onsite }}
                                    </td>       
                                    <td class="numeric">
                                        {{ book.qty_to_student_home }}
                                    </td>
                                    <td class="numeric">
                                        {{ book.qty_to_student_class }}
                                    </td>        
                                    <td class="numeric">
                                        {{ book.qty_lost_stolen }}
                                    </td>                  
                                    <td class="numeric">
                                        {{ book.qty_unusable }}
                                    </td>                                                                           
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>No inventory</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>               
{% endblock %}