{% load humanize %}
{% include "header.html" %}
        <div class="container content-inner">
            <div class="section row bar-top">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style right">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_pinterest_pinit"></a>
                <a class="addthis_counter addthis_pill_style"></a>
                </div>
                <!-- AddThis Button END -->
            </div>
        </div>  
        <div class="container content-inner">
            <h1 id="headline">{{ school.name.title }}</h1>
            <div class="section row">
                <div class="col twelve mobile-full" id="graph-sidebar">        
                    <p>Below is inventory data about the reading and math programs at {{ school.name.title }}, an {{ school.school_level.title }} located at {{ school.street_addr.title }} Select a grade and compare the school's inventory with the ideal number of books for that curriculum. PSSA test scores will be displayed for grades 4, 6, and 9 [not true]. The inventory data was collected from internal something data. Read more about our <a href="#">methodology</a>.</p>    
                    <hr>
                    <div class="grade-listing">
                        <h6 id="inventory-selector">Inventory for Grade: {% for grade in grades %}<a href="/school/{{school.school_code}}/{{grade.grade_level}}" class="{% if current_grade == grade.human_grade %}strong{% endif %}">{{ grade.human_grade }}</a>
                        {% endfor %}</h6>
                    </div>
                    <div>
                        {% if curriculum_list %}                         
                            {% for subject, value in curriculum_list.items %}
                                <h2 class="subject-title">{{ subject.title }}</h2>
                                <div class="subject-intro">
                                    <div class="scores-container" id="{{ subject }}-scores"></div>
                                </div>
                                {% if value.curricula.items %}
                                    {% for title, grade_curriculum in value.curricula.items %}
                                    <div class="block">
                                        <span class="note">This school may use the approved curriculum:</span>
                                        <h4 class="curriculum-title">{% if grade_curriculum.likely_curriculum %}<img class="left mrm tooltip" src="{{ STATIC_URL }}images/book-icon-blue.png" height="20" style="margin-top: 4px" title="Based on inventory records, this curriculum is most likely in use.">{% endif %}{{ title }}</h4>
                                    </div>
                                    <table class="tablesorter">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Material
                                                </th>
                                                <th>
                                                    Recorded Inventory
                                                </th>
                                                <th>
                                                    Students in Grade
                                                </th>
                                                <th>
                                                    Difference
                                                </th>
                                                <th>
                                                    Enough
                                                </th>
                                            </tr> 
                                        </thead>
                                        <tbody>
                                        {% for material in grade_curriculum.necessary_material %}
                                            <tr>
                                                <td id="isbn-{{ material.isbn }}">
                                                    {{ material.title }}
                                                </td>
                                                <td>
                                                    {{ material.total_copies }}
                                                </td>       
                                                <td class="needed-material">
                                                    <input value="{{ material.needed }}" type="number">
                                                </td>       
                                                <td class="material-difference" data-original-difference="{{ material.numerical_difference }}">
                                                    {{ material.difference }}
                                                    </td>       
                                                <td>
                                                    <img class="enough-circle" src="{{ STATIC_URL }}{% if material.enough == 'True' %}images/circleTrue.png{% elif material.enough == 'False' %}images/circleFalse.png{% else %}images/circleNA.png{% endif %}" alt="{{ material.enough }}">
                                                    </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="block shortfall-detail">
                                        <p>It would cost 
                                            $<span class="shortfall-cost" data-original-cost="{{grade_curriculum.cost_shortfall}}">{{ grade_curriculum.cost_shortfall|floatformat:2|intcomma }}</span>
                                            to provide each student in grade {{ current_grade }} at {{ school.name.title }} with the 
                                            <span class="shortfall-count" data-original-count="{{ grade_curriculum.book_shortfall }}">{{ grade_curriculum.book_shortfall }}</span> missing materials listed above.</p>
                                        <hr>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No curriculum matched any records at this school.</p>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>No inventory</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% include "_footer_school.html" %}