{% extends "layout.html" %}
{% load humanize %}
{% block content %}
    <div class="schools-list container content-inner">
        <p>Click on a school's name below to peek into its book closet. The results may surprise you.
        </p>
        <p>
            This tool relies on public data. School names and types came from the District's data on <a href="http://opendataphilly.org/opendata/resource/114/public-school-statistics/">Open Data Philly.</a> The <a href="http://webgui.phila.k12.pa.us/offices/c/curriculum/">Office of Curriculum and Instruction</a> provided data on which books were available at which schools, data on number of students in each grade, and the curricular requirements for planned instruction in each grade. 
        <table class="tablesorter">
            <thead>
                <tr>
                    <th>
                        School
                    </th>
                    <th>
                        School Type
                    </th>
                    <!-- <th class="tooltip" title="The absolute difference between the number of students in each grade and the minimum number of materials that would be required to teach the District-mandated curriculum in that grade.">
                        Shortfall
                        <span class="tooltip-icon"></span>
                    </th>-->                
                </tr> 
            </thead>
            <tbody>
                {% for school in schools %}
                    <tr>
                        <td><a href="/school/{{ school.school.school_code }}">{{ school.school.name.title }}</a></td>
                        <td>{{ school.school.school_level.title }}</td>
                        <!-- <td>{{ school.books_for_students }}</td> -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
