{% include "header.html" %}
{{ output_test }}
		<div class="container content-inner">
			<div class="section row">
				<div class="twelve columns mobile-full" id="breadcrumbs">
					<div><a href="/">Home</a> > <a href="/schools/">Schools</a></div>
				</div>
			</div>
		</div>	
		<div class="container content-inner">
			<div class="section row school-header">
        <div class="twelve columns mobile-full">               
			    <h2>{{ school.name.title }}</h2>
			  </div>
		  </div>
    	<div class="section row">
        <div class="twelve columns mobile-full">               
			    <span class="h4"><a href="/school/{{ school.school_code }}">Details</a></span> / <span class="h4"><a href="/school/inventory/{{ school.school_code }}">Inventory</a></span> / <span class="h4">Curricula Matcher</span>
			    <hr>
			  </div>
		  </div>		  
			<div class="section row"> 			   	
				<div class="twelve columns mobile-full">     			     			
					<h4>Matched Grade Curricula</h4>
					{% if matched_curricula %}
						<table id="matched-grade-curricula" class="tablesorter">
							<thead>
							<tr>
								<th>
									Total
								</th>
								<th>
									Curriculum
								</th>								
								<th>
									Subject
								</th>	
								<th>
									Publisher
								</th>								
								<th>
									Grade
								</th>	
							</tr>	
							</thead>
							<tbody>													
							{% for key, value in matched_curricula.items %}
								<tr>
									<td><div class="h4">{{ value }}</div></td>
									<td><a href="/gradecurriculum/{{ key.4 }}/">{{ key.0 }}</a></td>
									<td>{{ key.2 }}</td>	
									<td>{{ key.3 }}</td>	
									<td>{{ key.1 }}</td>
								</tr>
							{% endfor %}
						</tbody>
						</table>  
					{% else %}
					<p>No matches</p>
					{% endif %}
					<hr>
				</div>
			</div>
			<div class="section row"> 			   	
				<div class="twelve columns mobile-full">    
					<h4>Unmatched Learning Materials</h4>
					{% if unmatched_books %}		     		
				     	<table class="tablesorter">
				     		<thead>
				     		<tr>			
									<th>
										Title
									</th>			     			
									<th>
										Publisher
									</th>
									<th>
										On Site
									</th>								
									<th>
										Student Home
									</th>	
									<th>
										Student Class
									</th>	 	
									<th>
										Stolen
									</th>	 
									<th>
										Unusable
									</th>	 											     							     			
									<th>
										Teacher
									</th>
									<th>
										Material Type
									</th>
									<th>
										ISBN
									</th>			
								</tr>
								</thead>
								<tbody>
								{% for key, book in unmatched_books.items %}
						    	<tr>
						    		<td>
								    	<a href="/learningmaterial/{{ key }}/">{{ book.title }}</a>
										</td>	
										<td>
											{{ book.publisher }}
										</td>			    		
						    		<td>
						    			{{ book.book_count.0 }}
						    		</td>		
						    		<td>
						    			{{ book.book_count.1 }}
						    		</td>
						    		<td>
						    			{{ book.book_count.2 }}
						    		</td>		 
						    		<td>
						    			{{ book.book_count.3 }}
						    		</td>		  		   
						    		<td>
						    			{{ book.book_count.4 }}
						    		</td>		  		   		    				    		 		    		
						    		<td>
						    			{{ book.teacher_edition }}
						    		</td>
						    		<td>
						    			{{ book.material_type }}
						    		</td>
						    		<td>
						    			{{ key }}
						    		</td>
						    	</tr>
								{% endfor %}
								</tbody>
							</table>
					{% else %}
						<p>No matched learning materials</p>
					{% endif %}
				</div>
			</div>
					<hr>								
			<div class="section row"> 			   	
				<div class="twelve columns mobile-full">    			
	     		<h4>Matched Learning Materials</h4>
					{% if matched_books %}		     		
				     	<table class="tablesorter">
				     		<thead>
					     		<tr>			
									<th>
										Title
									</th>			     			
									<th>
										Publisher
									</th>
									<th>
										On Site
									</th>								
									<th>
										Student Home
									</th>	
									<th>
										Student Class
									</th>	 	
									<th>
										Stolen
									</th>	 
									<th>
										Unusable
									</th>	 											     							     			
									<th>
										Teacher
									</th>
									<th>
										Material Type
									</th>
									<th>
										ISBN
									</th>			
								</tr>
							</thead>
							<tbody>
								{% for key, book in matched_books.items %}
						    	<tr>
						    		<td>
								    	<a href="/learningmaterial/{{ key }}/">{{ book.title }}</a>
									</td>	
									<td>
										{{ book.publisher }}
									</td>			    		
						    		<td>
						    			{{ book.book_count.0 }}
						    		</td>		
						    		<td>
						    			{{ book.book_count.1 }}
						    		</td>
						    		<td>
						    			{{ book.book_count.2 }}
						    		</td>		 
						    		<td>
						    			{{ book.book_count.3 }}
						    		</td>		  		   
						    		<td>
						    			{{ book.book_count.4 }}
						    		</td>		  		   		    				    		 		    		
						    		<td>
						    			{{ book.teacher_edition }}
						    		</td>
						    		<td>
						    			{{ book.material_type }}
						    		</td>
						    		<td>
						    			{{ key }}
						    		</td>
						    	</tr>
							{% endfor %}
							</tbody>
						</table>
					{% else %}
						<p>No matched learning materials</p>
					{% endif %}
				</div>
			</div>
		</div>
{% include "footer.html" %}