{% include "header.html" %}
{{ output_test }}
		<div class="container content-inner">
			<div class="section row">
				<div class="twelve columns mobile-full" id="breadcrumbs">
					<div><a href="/">Home</a> > <a href="/schools/">Schools</a></div>
				</div>
			</div>
		</div>	
		<div class="container content-inner">
    	<div class="section row school-header">
        <div class="twelve columns mobile-full">               
			    <h2>{{ school.name.title }}</h2>
			  </div>
		  </div>
    	<div class="section row">
        <div class="twelve columns mobile-full">               
			    <span class="h4"><a href="/school/{{ school.school_code }}">Details</a></span> / <span class="h4">Inventory</a></span> / <span class="h4"><a href="/school/match/{{ school.school_code }}">Curricula Matcher</a></span>
			    <hr>
			  </div>
		  </div>		       
      <div class="section row">		  
		     		<h4>Inventory of Learning Material</h4>
					{% if book_inventory %}		     		
				     	<table>
				     		<tr>			
								<th>
									Title
								</th>			     			
								<th>
									Publisher
								</th>
								<th>
									On Site
								</th>								
								<th>
									Student Home
								</th>	
								<th>
									Student Class
								</th>	 	
								<th>
									Stolen
								</th>	 
								<th>
									Unusable
								</th>	 											     							     			
								<th>
									Teacher
								</th>
								<th>
									Material Type
								</th>
								<th>
									ISBN
								</th>			
							</tr> 							
							{% for book in book_inventory %}
						    	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
						    		<td>
								    	<a href="/learningmaterial/{{ book.material.isbn }}/">{{ book.material.title }}</a>
									</td>	
									<td>
										{{ book.material.publisher }}
									</td>			    		
						    		<td>
						    			{{ book.qty_onsite }}
						    		</td>		
						    		<td>
						    			{{ book.qty_to_student_home }}
						    		</td>
						    		<td>
						    			{{ book.qty_to_student_class }}
						    		</td>		 
						    		<td>
						    			{{ book.qty_lost_stolen }}
						    		</td>		  		   
						    		<td>
						    			{{ book.qty_unusable }}
						    		</td>		  		   		    				    		 		    		
						    		<td>
						    			{{ book.material.isTeacherEdition }}
						    		</td>
						    		<td>
						    			{{ book.material.material_type }}
						    		</td>
						    		<td>
						    			{{ book.material.isbn }}
						    		</td>
						    	</tr>
						{% endfor %}
						</table>
					{% else %}
						<p>No inventory</p>
					{% endif %}
				</div>
			</div>
			</div>
		</div>					
{% include "footer.html" %}