{% extends "layout.html" %}
{% load humanize %}
{% block content %}
    <div class="schools-list container content-inner">
        <p>From here, you can navigate to any school listed and explore the inventory as it relates to curriculum that might be in use at the school.</p>
        <p>You can sort the list by school name, school type, and the difference between materials at that school and the number of students. For the difference, we display the total difference between the common materials we found in the inventory (that we define as materials likely needed for each student in a classroom), using the assumed curriculum in use for each grade, as compared to the number of students in each grade.
        <table class="tablesorter">
            <thead>
                <tr>
                    <th>
                        School
                    </th>
                    <th>
                        School Type
                    </th>
                    <th class="tooltip" title="The total difference between the common materials and the assumed curriculum in use for each grade.">
                        Difference
                        <span class="tooltip-icon"></span>
                    </th>
                </tr> 
            </thead>
            <tbody>
                {% for school in schools %}
                    <tr>
                        <td><a href="/school/{{ school.school.school_code }}">{{ school.school.name.title }}</a></td>
                        <td>{{ school.school.school_level.title }}</td>
                        <td>{{ school.books_for_students }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
