{% load humanize %}
{% include "header.html" %}
        <div class="container content-inner">
            <div class="section row">
                <div class="three col mobile-full" id="breadcrumbs">
                    <a href="/">&laquo; Back to Homepage</a>
                </div>
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style right">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_pinterest_pinit"></a>
                <a class="addthis_counter addthis_pill_style"></a>
                </div>
                <!-- AddThis Button END -->
            </div>
        </div>  
        <div class="container content-inner">
            <h1 id="headline">{{ school.name.title }}</h1>
            <div class="section row">
                <div class="col eight mobile-full" id="graph-sidebar">
                <p>{{ school.name.title }} is a {{ school.school_level.title }} located at {{ school.street_addr.title }} It is {% if school.school_type == "Empowerment" %}{% else %}not{% endif %} an Empowerment School.</p>                    
                    <h3>Showing Grade {{ current_grade }}</h3>
                    {% for grade in grades %}
                        <a href="/school/{{school.school_code}}/{{grade.grade_level}}">Grade {{ grade.human_grade }}</a>
                    {% endfor %}
                    <div>
                        {% if curriculum_list %}                    
                            {% for subject, value in curriculum_list.items %}
                                <h4 class="subject-title">{{ subject.title }}</h4>
                                {% if value.curricula.items %}
                                    {% for title, grade_curriculum in value.curricula.items %}
                                    <div class="block">
                                        <span class="note">This school may use the approved curriculum:</span>
                                        <h2 class="curriculum-title">{{ title }}</h2>
                                    </div>
                                    <table class="tablesorter">
                                        <thead>
                                            <tr>
                                                    <th>
                                                        Material
                                                    </th>
                                                    <th>
                                                        Recorded Inventory
                                                    </th>
                                                    <th>
                                                        Students in Grade
                                                    </th>
                                                    <th>
                                                        Difference
                                                    </th>
                                                    <th>
                                                        Enough
                                                    </th>
                                                </tr> 
                                            </thead>
                                            <tbody>
                                            {% for material in grade_curriculum.necessary_material %}
                                                <tr>
                                                    <td>
                                                        {{ material.title }}
                                                        </td>
                                                    <td>
                                                        {{ material.total_copies }}
                                                        </td>       
                                                    <td>
                                                        {{ material.needed }}
                                                        </td>       
                                                    <td>
                                                        {{ material.difference }}
                                                        </td>       
                                                    <td>
                                                        <img class="enough-circle" src="{{ STATIC_URL }}{% if material.enough == 'True' %}images/circleTrue.png{% elif material.enough == 'False' %}images/circleFalse.png{% else %}images/circleNA.png{% endif %}" alt="{{ material.enough }}">
                                                        </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="block">
                                            <p>It would cost ${{ grade_curriculum.cost_shortfall|intcomma }} to provide each student in grade {{ current_grade }} at Benjamin B. Comegys School with the {{ grade_curriculum.book_shortfall }} missing materials listed above.</p>
                                            <hr>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>No curriculum matched any records at this school.</p>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>No inventory</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col four mobile-full">      
                    <table>
                        {% if school.school_level %}
                            <tr>
                                <td>School type:</td>
                                <td>{{ school.school_level.title }}</td>
                            </tr>      
                        {% endif %}
                        <tr>
                            <td>Grades:</td>
                            <td>{{ school.get_grade_range }}</td>
                        </tr>                        
                    </table>
                    <div>Number of students:</div>
                    <div class="number">{{ school_aggregate.students }}</div>
                    <div>Number of common books in likely curriculum (reading and math):</div>
                    <div class="number">{{ school_aggregate.material_count }}</div>
                    <div>Difference (one book for every student in reading and math):</div>
                    <div class="number">{{ school_aggregate.difference }}</div>
                    <hr>
                    <div class="section row">
                        <h6>Project articles</h6>
                        <ul>
                            <li>
                                <a href="#">Article title</a>
                                <span class="meta">Jane Smith, 5/15/13</span>
                            </li>
                            <li>
                                <a href="#">Article title</a>
                                <span class="meta">Jane Smith, 5/15/13</span>
                            </li>
                            <li>
                                <a href="#">Article title</a>
                                <span class="meta">Jane Smith, 5/15/13</span>
                            </li>
                    </div>
                    <hr>
                    <div class="section row">
                        <h6>Get Involved</h6>
                        <p><a href="#">Link to our interesting blog post</a></p>
                    </div>
                </div>
            </div>
        </div>
{% include "footer.html" %}